.footer{
    height: 17vh;
    background-color: rgba(231, 169, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

}

.socialMedia svg{
    font-size: 55px;
    cursor: pointer;
    margin: 0 5px 0;
}

.brand {
    margin: 0;
}

@media (max-width: 600px) {
    .socialMedia svg {
        font-size: 50px;
    }
  }

  @media (max-width: 450px) {
    .socialMedia svg {
        font-size: 30px;
    }
  }

  @media (max-height: 500px) {
    .footer {

        flex-direction: row;

    }
  }