* {
    font-family: cursive;
}
.container {
    /*background: #6DE195 ;      rgb(108, 117, 125) */
    min-height: 1000px;
    max-width: 600px;
    padding: 0 50px;
    background-image: linear-gradient(to bottom right, #6DE195, #C4E759);

}

::placeholder {
    color :rgb(108, 117, 125) !important;
}

.del, .new {
    cursor: pointer;
}

.filtered {
    display: none !important;
    
}

/* input[type=text],
input[type=text]:focus {
    color :#0d6efd;
    
} */