body {
    background-image: url("assets/background.jpg");

}

.container {
    background: rgb(231, 206, 174); /* rgb(237, 187, 121); */
    min-height: 1000px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0;
    border-radius: 50px;
    margin-bottom: 0;

}

.banner {
    /* background: rgb(193, 151, 96); */
    background-image: linear-gradient(to bottom right, rgb(148, 201, 202), rgb(193, 151, 96));
    
    padding-top: 100px;
    border-radius: 50px 0;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-style: oblique;
}

.footer {
    background: rgb(148, 201, 202); 
    height: 48px;
    text-align: center;
    padding-top: 12px;
    font-weight: bold;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
    }

.nav-tabs {
    --bs-nav-tabs-link-active-bg:rgb(231, 206, 174);
    --bs-nav-tabs-link-active-border-color: rgb(231, 206, 174);
}

:root {
    --bs-link-hover-color:black;
    --bs-border-color:rgb(231, 206, 174);
    --bs-secondary-bg: rgb(231, 206, 174);
}

.btn-primary {
    --bs-btn-bg:rgb(148, 201, 202);
    --bs-btn-color:black;
    --bs-btn-hover-bg: rgb(103, 154, 155);
    --bs-btn-hover-border-color: rgb(148, 201, 202);
    --bs-btn-border-color: rgb(103, 154, 155);
    --bs-btn-active-bg:rgb(148, 201, 202);
}

.card-image {
    border-style: groove;
    border-width: 3px 5px 5px 10px;
    margin: 16px 16px 0 16px;
    border-radius: 0.375rem 0.375rem 0 0;
}

.card-title {
    padding: 20px 0 2px 0  ;
    text-align: center;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: rgb(148, 201, 202);
}